#container {
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -200px;
  border-radius: 5%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 400 1rem;
  background-color: antiquewhite;
}
.divisor {
  content: "";
  position: absolute;
  border-bottom: 3px solid black;
  width: 300px;
  right: 0px;
  bottom: 330px;
}
td {
  padding: 5px;
  
}

input {
  padding: 5px;
  display: flex;
  align-items: flex-start;
  background-color: white;
  border-style: hidden;
  border-radius: 5%;
}

 #calcular {
  margin-top: 10px;
  padding: 5px 95px;
  display: flex;
  align-items: center;
  background-color: black;
  color: antiquewhite;
 }

 #resultado {
  width: 230px;
  height: 100px;
  background-color: black;
  color: antiquewhite;
 }
 
 