/*HEADER*/

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

body {
  margin: 0;
  background-color: #f7f7f7;
}

header, footer{
  align-items: center;
  background-color: #3b5998;
}

img {
  height: 100px;
  justify-content: flex-end;
}

#menu {
  justify-content: flex-end;
  float: right;
}

ul {
  display: flex;
  position: relative;
  list-style-type: none;
}

li {
  margin-right: 2rem;
  color: white;
  font-weight: 600;
  justify-content: flex-end;
}
  
/*FOOTER*/
footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
}

#text-footer {
 color: white; 
}

/*BODY*/
div {
  margin: 20px;
  color: #3b5998;
  font-weight: 400;
}